
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

}

body {
  font-family: Arial, sans-serif;
  background: #111827;
  color: #f9fafb;
  padding: 30px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #1f2933;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #374151;
  padding-bottom: 10px;
}

label {
  display: block;
  font-size: 13px;
  margin-top: 12px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #020617;
  color: #e5e7eb;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border-color: #38bdf8;
  box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.25);
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  background: #1e293b;
  color: #e5e7eb;
  border: 1px solid #334155;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #334155;
}


.resultado {
  margin-top: 30px;
  padding: 20px;
  background: #020617;
  border-radius: 8px;
  display: none;
}


.resultado strong {
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
}

/* SEMÁFORO SIMPLE */
.resultado::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.resultado::after {
  content: "";
  display: block;
  height: 10px;
  background: #374151;
  margin-top: 20px;
  border-radius: 6px;
  width: 100%;
}

.ok {
  border-left: 6px solid #22c55e;
}

.ok::before {
  background: #22c55e;
}

.ok::after {
  background: #22c55e;
  width: 95%;
}

.warning {
  border-left: 6px solid #facc15;
}

.warning::before {
  background: #facc15;
}

.warning::after {
  background: #facc15;
  width: 65%;
}

.danger {
  border-left: 6px solid #ef4444;
}

.danger::before {
  background: #ef4444;
  animation: blink 1s infinite;
}

.danger::after {
  background: #ef4444;
  width: 30%;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}


.neutral{
 
  border-left: 6px solid #0d5c81;
}

.neutral::before {
  background: #0d5c81;
}

.neutral::after {
  background: #0d5c81;
  width: 75%;
}