body {
  margin: 0;
  height: 100%; 
  }

.map-wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
}

#map{
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.overlay > * {
  pointer-events: auto;
}

h1{
  font-family: "Kumbh Sans", sans-serif;
  margin-top: 20px;
  font-size: clamp(2rem, 4vw, 3rem);
  text-align: center;
  color: #1a73e8;
}

  
.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 999px;
  padding: 6px 10px;
  width: min(95vw, 700px);
  gap: 8px;
  box-shadow: 0 8px 25px rgba(0,0,0,.25);
}


.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 10px 12px;
}

.search-bar button {
  border: none;
  background: #1a73e8;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}

.check {
  font-family: "Kumbh Sans", sans-serif;
  background: white;
  border-radius: 999px;
  padding: 8px 14px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.check input {
  display: none;
}

.check:has(input:checked) {
  background: #e8f0fe;
  color: #1a73e8;
  font-weight: 600;
}


footer{
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}